.h1Nombre {
  color: #ffffff;
  font-weight: bolder;
  font-size: 6em;
  margin-top: 15%;
  margin-bottom: 5%;
}

.hello {
  min-height: 100vh;
}

.row {
  margin-left: 0%;
  margin-right: 0%;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 7px 12px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:active:focus,
.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}
.btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  color: #fff;
  background-color: #1db954;
  border-color: #1aa34a;
}
.btn-primary:focus {
  color: #fff;
  background-color: #168d40;
  border-color: #083518;
}
.btn-primary:hover {
  color: #fff;
  background-color: #168d40;
  border-color: #116e32;
}
.btn-primary:active {
  color: #fff;
  background-color: #168d40;
  border-color: #116e32;
}
.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #083518;
}
.btn-primary:active {
  background-image: none;
}
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
  background-color: #1db954;
  border-color: #1aa34a;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.btn {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  -webkit-transition-property: background-color, border-color, color,
    -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow,
    -webkit-filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter,
    -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
}
.btn:active:focus,
.btn:focus:focus {
  outline: 0;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}

.btn-primary:active,
.btn-primary:active:hover {
  background-color: #179443;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary[disabled] {
  background-color: #c1c3c6;
}
.btn-primary {
  color: #fff;
  background-color: #1db954;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1ed760;
}
.btn-primary:focus {
  color: #fff;
  background-color: #1aa34a;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
}
.btn-primary:active,
.btn-primary:active:hover {
  background-color: #1aa34a;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary[disabled] {
  background-color: #d9dadc;
}

.colbtn {
  margin-top: 10%;
  margin-bottom: 5%;
}

.colInput {
  background-color: rgb(179, 179, 179, 0.4);
  border-radius: 2.5%;
  margin-top: 2.5%;
}

.inputCol {
  height: 22.5vh;
}

.InputLbl {
  margin-top: 2%;
  margin-bottom: 3%;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
}

.filaJoin {
  margin-top: 3%;
}
